exclude: '^(build|docs|resources|log|model)'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        always_run: true
        verbose: true

  - repo: http://github.com/timothycrosley/isort
    rev: 5.12.1
    hooks:
      - id: isort
        entry: isort
        args: [.]
        always_run: true
        verbose: true

  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        entry: black
        args: [.]
        language: system
        always_run: true
        verbose: true


  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.961'
    hooks:
      - id: mypy
        entry: mypy
        always_run: true
        args: [--show-error-codes]
        additional_dependencies: ['types-requests']
        verbose: true

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
        verbose: true
